body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  form {
    margin-bottom: 20px;
  }
  
  form input,
  form select,
  form button {
    margin-bottom: 10px;
    padding: 8px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button.block {
    display: block;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
  }
  
  #message {
    margin-bottom: 20px;
    color: #007bff;
    font-weight: bold;
  }
  
  #downloadexpense {
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
  }
  
  #rzp-button1 {
    display: block;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 20px;
    cursor: pointer;
  }
  
  ul#list {
    padding: 0;
    list-style-type: none;
  }
  
  ul#list li {
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  ul#list li button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 6px 12px;
    cursor: pointer;
  }
  
  #pagination {
    text-align: center;
    margin-top: 20px;
  }
  
  #pagination button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 6px 12px;
    margin-right: 5px;
    cursor: pointer;
  }
  
  
  .rowButton {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 6px 12px;
    margin-right: 5px;
    cursor: pointer;
  }
  
  .rowButton.selected {
    background-color: #dc3545;
  }
  .side-buttons {
    position: fixed;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }.side-buttons {
    position: fixed;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }
  
  .dropdown-content {
    display: none;
  }

  .dropdown-content:target {
    display: block;
  }
